#myChart {
  scale: 80%;
}
body h1 {
  display: flex;
  justify-content: center;
}

body {
  font-family: "ivystyle-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #E7E9D9;
}

#car-number {
  color: #528C62;
  width: 8vw;
}